In [10]:
!ls

12-Week-Push-Pull-Legs-Program-Complete-E-Book-By-Chris-Jones-UPDATE1.pdf
2-JS-Basics-Final
Apostille
AppStore
BAEEE
Brooklyn Bridge Shoot
Certificate_17349871.pdf
Data_Manipulation_with_Pandas_Homework.ipynb
Dont format
Foundations_of_Stats_HW.Rmd
GRE
Introduction_to_Scrapy
Jobs
Launcher.app
NLP_JumpStart
NYCDSA
Numpy_and_Scipy_Homework.ipynb
Old camera photos
Presh_PersonalSite
Programming Resources
Python-Data-Science-and-Machine-Learning-Bootcamp
SBU Classes
Scrapy_Lab
Scrapy_Lab.zip
Selenium
Videos
Volumetriqs
YoutubeStatistics
__pycache__
appstore_data.csv
beam
bestbuy
budget
cleaning.py
immigration
moe
python_exam.ipynb
screen shot
shinyApps
study videos
varel
vis.ipynb
youtubeData
~$Spider Diagram.xlsx

In [14]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from cleaning import clean

In [15]:
raw_data = pd.read_csv("appstore_data.csv")

In [16]:
df = clean(raw_data)

NameError: name 'cleaning' is not defined

In [ ]:
df.sample(10)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 12 columns):
age_rating       2880 non-null object
app_rating       2083 non-null float64
category         2880 non-null object
compatibility    2880 non-null object
languages        2861 non-null object
name             2880 non-null object
price            2880 non-null object
rank             1993 non-null float64
rating_count     2880 non-null int64
size             2880 non-null object
num_languages    2880 non-null int64
boolean_rank     2880 non-null bool
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 250.4+ KB

In [105]:
df.describe()

        app_rating         rank  rating_count  num_languages
count  2083.000000  1993.000000   2880.000000    2880.000000
mean      4.294383    91.770697     77.323264       7.186111
std       0.797957    58.004718    175.593392      10.576903
min       1.000000     1.000000      0.000000       0.000000
25%       4.100000    41.000000      0.000000       1.000000
50%       4.600000    88.000000      4.000000       2.000000
75%       4.800000   142.000000     44.000000      10.000000
max       5.000000   200.000000    996.000000      89.000000

In [106]:
df['app_rating'].replace(np.nan,0)

0       0.0
1       0.0
2       1.5
3       4.3
4       5.0
5       0.0
6       1.5
7       4.5
8       4.5
9       4.7
10      4.7
11      4.4
12      4.8
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
       ...
2850    0.0
2851    0.0
2852    4.0
2853    4.6
2854    2.0
2855    4.0
2856    5.0
2857    0.0
2858    0.0
2859    5.0
2860    0.0
2861    0.0
2862    0.0
2863    4.5
2864    0.0
2865    0.0
2866    4.7
2867    4.0
2868    0.0
2869    4.8
2870    4.9
2871    4.4
2872    5.0
2873    4.3
2874    4.9
2875    4.5
2876    4.4
2877    4.9
2878    0.0
2879    3.6
Name: app_rating, Length: 2880, dtype: float64

In [107]:
df['size'].apply(lambda x: re.match("\d+(\.)?\d*",x)[0])

0        31.4
1       180.2
2        43.6
3        82.6
4       138.3
5        13.3
6         1.2
7        48.4
8       116.6
9        85.5
10      114.1
11       85.4
12      115.9
13       63.8
14       16.4
15      133.5
16      509.4
17       48.8
18        8.8
19       14.4
20      242.7
21       72.4
22      131.4
23      138.7
24       24.4
25         40
26       50.3
27      170.3
28       13.7
29      154.9
        ...
2850      5.6
2851      8.8
2852    117.9
2853    140.1
2854     36.4
2855    136.1
2856    168.6
2857    141.4
2858     38.4
2859    245.9
2860     76.1
2861     35.7
2862     15.9
2863    138.1
2864      4.9
2865    134.2
2866    152.9
2867    122.1
2868    148.7
2869    103.6
2870     63.2
2871     63.6
2872    107.1
2873     65.2
2874      171
2875     44.6
2876    122.5
2877      305
2878      2.8
2879     82.4
Name: size, Length: 2880, dtype: object